.col{
    background-color: #121c46;
    width: 100%;

    h2{
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-left: 5.6em;
        text-align: center;
        font-size: 28px;
        padding-top: 0.5em;
    }
    p{
    margin-left: 1.1em;
    margin-top: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    }
}